@model IEnumerable<PoELadder.Models.EntryDto>
@{
    ViewBag.Title = "LadderView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <p>Something went wrong.</p>
}
else
{
    <br>
    <br>
    <br>
    <table id="profiles" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Level</th>
                <th>Account Name</th>
                <th>Character Name</th>
                <th>Class</th>
                <th>Depth</th>
                <th>Challenges completed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
            <tr>
                <td>@entry.Rank</td>
                <td>@entry.Character.Level</td>
                <td><a href=@("https://www.pathofexile.com/account/view-profile/" + entry.Account.Name)> @entry.Account.Name </a></td>
                @if (entry.Dead == true)
                {
                    <td><img title="Dead" src='@Url.Content("~/Content/skull.png")' style="height: 1em; width: 1em;" /><a href=@("https://www.pathofexile.com/account/view-profile/" + entry.Account.Name + "/characters")> @entry.Character.Name </a></td>
                }
                else
                {
                    <td><a href=@("https://www.pathofexile.com/account/view-profile/" + entry.Account.Name + "/characters")> @entry.Character.Name </a></td>
                }

                <td>@entry.Character.Class</td>
                @if (entry.Character.Depth == null)
                {
                    <td>0</td>
                }
                else
                {
                    <td>@entry.Character.Depth.Solo</td>
                }
                <td>@entry.Account.Challenges.Total</td>
            </tr>
            }
        </tbody>
    </table>
}


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#profiles").DataTable();
        });
    </script>
}